
@font-face{
  font-family: 'armaliteRifle';
  src: local('armalite Rifle'),
	local('armalite-Rifle'),
	url('../fonts/armalite/armalite.ttf') 
	format('truetype');
}

@keyframes bomb {
  0% {
    transform: translate(600px);
    background: url('../images/flame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  17% {
    transform: translate(500px, -25px);
    background: url('../images/flame.png')no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 3;
    border: none;
    font-size: 0;
  }
  34% {
    transform: translate(400px, -50px);
    background: url('../images/flame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  51% {
    transform: translate(300px, -50px);
    background: url('../images/flame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  68% {
    transform: translate(200px, -50px);
    background: url('../images/flame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  82% {
    transform: translate(100px, -25px);
    background: url('../images/flame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  
  100% {
    transform: translate(0px);
    background: url('../images/flame.png');
    background-position: center;
   background-size: contain;
   font-size: 0;
   border: none;
  }
}

@keyframes compbomb {
  0% {
    transform: translate(-600px);
    background: url('../images/compflame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  17% {
    transform: translate(-500px, -25px);
    background: url('../images/compflame.png')no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 3;
    border: none;
    font-size: 0;
  }
  34% {
    transform: translate(-400px, -50px);
    background: url('../images/compflame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  51% {
    transform: translate(-300px, -50px);
    background: url('../images/compflame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  68% {
    transform: translate(-200px, -50px);
    background: url('../images/compflame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  82% {
    transform: translate(-100px, -25px);
    background: url('../images/compflame.png')no-repeat;
    z-index: 3;
    background-position: center;
    background-size: contain;
    border: none;
    font-size: 0;
  }
  
  100% {
    transform: translate(0px);
    background: url('../images/compflame.png');
    background-position: center;
   background-size: contain;
   font-size: 0;
   border: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mute {
  background-image: url('../images/volume.png');
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  display: none;
  position: absolute;
  top: 2%;
  left: 1.5%;

}

.full-screen{
  width: 50px;
  height: 50px;
  background: url('../images/fullscreen.png');
  position: absolute;
  bottom: 2%;
  right: 1.5%;
}

.full-screen:hover{
  cursor: pointer;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/background.jpg')no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  
}

h1{
  font-family: 'armaliteRifle';
  font-size: 58px;
}

h2{
  font-family: 'armaliteRifle';
  font-size: 28px;
}

.welcome-screen{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('../images/tank.jpg')no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-screen h2{
  color: #41FF00;
  font-size: 65px;
}

.welcome-screen img{
  cursor: pointer;
  animation: beat 0.8s infinite alternate;
}

.welcome-screen img:hover{
  transform: scale(1.2)
}

@keyframes beat{
  to { transform: scale(1.2);}
}

.reset{
  background: url('../images/reset.png')no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2%;
  right: 1.5%;
  display: none;
  cursor: pointer;
}

.grid-wrapper{
  
  display: none;
  align-items: center;
  justify-content: center; 
}

.grid{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap; 
  color: white;
  order: 1;
  font-size: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),black;
  background-size: 100% 100%;
  background-position-x: center;
  background-position-y: center;
  margin: 0 auto;
  z-index: 3;
}
.strategy-panel {
  color: #41FF00;
  width: 500px;
}
.strategy-panel h2 {
  font-size: 50px;
  margin: -10px auto 17px 0;
}


.grid:hover{
  cursor: crosshair;
}

.grid div{
  width: 10%;
  height: 10%;
  border: 1px solid #41FF00;
}

.customer-grid{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  order: 2;
  font-size: 0px;
  margin: 0 0 0 200px;
}
.customer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid #41FF00
  
}
.computer-grid{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  order: 1;
  font-size: 0px;
  margin: 0;
}
.computer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid red;
    
}
.computer-grid div:hover {
  opacity: 0.5;
  font-size: 20px;
  cursor: crosshair;
}

.next{
  display: none;
  position: absolute;
  top: 35%;
  right: 7%;
  background: url('../images/next.png');
  width: 130px;
  height: 130px;
  cursor: pointer;
  z-index: 2;
  animation: beat 0.8s infinite alternate;
}

.next:hover{
  transform: scale(1.2);
}


button:hover{
  cursor: pointer;
}

.not-available-cell{
  background: brown;
}

.grid .ships-positions{
  background:#41FF00;
}
.customer-grid .ships-positions{
  background:#41FF00;
}
.missed-hit{
  background:url('../images/x.png') no-repeat;
  background-position: center;
}

.computer-grid div.missed-hit:active {
  cursor: not-allowed;
}


.tank-choicer{
  display: none;
  width: 400px;
  height: 400px;
  background: url('../images/tank1.png')no-repeat;
  background-position: center;
 
}

.tank-choicer-wrapper{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 420px;
  height: 500px;
  border: 2px solid #41FF00;
  text-align: center;
  padding: 5px;
  margin-left: -100px;
}

.tank-choicer-header{
  color: #41FF00;
  font-family: 'armaliteRifle';
  font-size: 30px;
}

.tank-choicer-text{
  color: #41FF00;
  font-size: 20px;
  font-family: sans-serif;
}

.side-choice-wrapper{
  height: 70vh;
  width: 1100px;
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;

}

.side-choice{
 width: 270px;
 height: 142px;
 margin-right: 50px;
 font-size: 0;
}

.side-choice:hover{
  filter: drop-shadow(0 0 0.75rem grey);
  cursor: pointer;
}

.customer-country{
  filter: brightness(50%);
}

.customer-country:hover{
  cursor: not-allowed;
  filter: brightness(50%);
}

.score{
  display: none;
  width: 100vw;
  justify-content: space-evenly;
}

.computer-score-text{
  text-align: center;
}

.customer-score-text{
  text-align: center;
}

.computer-score{
  color: red;
  text-align: center;
  
}

.customer-score{
  color: #41FF00;
}

.customer-score img, .computer-score img{
  padding: 10px;
}

.superpower{
  display: none;
  width: 850px;
  color: #41FF00;
}

.enemy{
  display: none;
  color: red;
  width: 700px;
}

.enemy, .superpower {
  margin: 0 auto;
}

.result-wrapper {
  position: absolute;
  left: 20%;
  top: 23%;
  display: none;
  align-items: center;
  z-index: 4;
}

.result{
  width: 550px;
  font-size: 150px;
}

.shot {
  background-position: center;
  background-size: contain;
  animation: 3s linear .1s bomb;
  animation-iteration-count: 1;
}

.comp-shot{
  background-position: center;
  background-size: contain;
  animation: 3s linear .1s compbomb;
  animation-iteration-count: 1;
}


.covering-reminder{
  display: none;
  position: absolute;
  top: 35%;
  right: 3%;
  font-size: 22px;
  width: 230px;
  height: 120px;
  padding: 8px;
  background: black;
  text-align: center;
  border: 2px solid #41FF00;
  color: #41FF00;
  font-family: sans-serif;
}


.not-allowed {
  background:url('../images/x.png') no-repeat;
}

.ship-hit{
  background: url('../images/fire.gif')no-repeat;
  background-position: center;
  background-size: contain;
}
.customer-grid .ship-hit{
  background: url('../images/fire.gif')no-repeat;
  background-position: center;
  background-size: contain;
}
div.ship-hit{
  border: none;
}