@font-face{
  font-family: 'armaliteRifle';
  src: local('armalite Rifle'),
	local('armalite-Rifle'),
	url('../fonts/armalite/armalite.ttf') 
	format('truetype');
}

@keyframes bomb {
  0% {
    transform: translate(500px)
  }
  100% {
    transform: translate(0)
  }
}

.mute {
  font-family: 40px;
}

.shot {
  background: url('../images/play.png');
  animation: 2.5s bomb ease-in;
  animation-iteration-count: 1;
 animation-delay: 1s;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: darkgray;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-family: 'armaliteRifle';
  font-size: 58px;
}

h2{
  font-family: 'armaliteRifle';
  font-size: 28px;
}

.welcome-screen{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ship.jpeg') no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 800px 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-screen img{
  cursor: pointer;
}

.welcome-screen img:hover{
  opacity: 0.5;
}


.grid-wrapper{
  
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
 
}


.grid{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap; 
  color: white;
  order: 1;
  font-size: 0px;
  /* transform: rotate(90deg) */
}

.grid:hover{
  cursor: crosshair;
}

.grid div{
  width: 10%;
  height: 10%;
  border: 1px solid lightgray;
}

.customer-grid{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
  color: white;
  order: 2;
  font-size: 0px;
}
.customer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid lightgray;
  
}
.computer-grid{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  order: 1;
  font-size: 0px;
}
.computer-grid div{
  width: 10%;
  height: 10%;
  border: 1px solid lightgray;  
}
.computer-grid div:hover {
  opacity: 0.5;
  content: 'Shot';
  font-size: 20px;
  cursor: crosshair;
}

.next{
  display: none;
  position: absolute;
  top: 35%;
  right: 100px;
  font-size: 30px;
}

button:hover{
  cursor: pointer;
}

.not-available-cell{
  background: brown;
}

.ships-positions{
  background: black;
}
.missed-hit{
  background: grey;
}

.computer-grid div.missed-hit:hover {
  cursor: not-allowed;
}


.side-choice-wrapper{
  height: 100vh;
  width: 1100px;
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;

}

.side-choice{
 width: 270px;
 height: 142px;
 margin-right: 50px;
 font-size: 0;
}

.side-choice:hover{
  filter: drop-shadow(0 0 0.75rem grey);
  cursor: pointer;
}

.customer-country{
  filter: brightness(50%);
}

.customer-country:hover{
  cursor: not-allowed;
  filter: brightness(50%);
}

.flag{
  position: absolute;
  top: 35%;
  left: 35%;
}

.score{
  display: none;
  width: 100vw;
  justify-content: space-around;
}

.superpower{
  display: none;
}

.enemy{
  display: none;
  color: red;
}

.covering-reminder{
  display: none;
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 30px;
  z-index: 3;
  width: 330px;
  height: 170px;
  padding: 10px;
  border: 2px solid grey;
  text-align: center;
}

.not-allowed {
  background: pink;
}

/* Placing different background on every cell of the specific CUSTOMER ship*/
/* first ship */
.first-ship-one{
  background: yellow;
}
.first-ship-two{
  background: green;
}
.first-ship-three{
  background: blue;
}
.first-ship-four{
  background: brown;
}
.first-ship-five{
  background: yellow;
}
.first-ship-six{
  background: green;
}
.first-ship-seven{
  background: blue;
}
.first-ship-eight{
  background: brown;
}
 /* second ship */
 .second-ship-one{
  background: yellow;
}
.second-ship-two{
  background: green;
}
/* third ship */
.third-ship-one{
  background: yellow;
}
.third-ship-two{
  background: green;
}
.third-ship-three{
  background: blue;
}
/* fourth ship */
.fourth-ship-one{
  background: yellow;
}
.fourth-ship-two{
  background: green;
}
.fourth-ship-three{
  background: blue;
}
.fourth-ship-four{
  background: purple;
}
.fourth-ship-five{
  background: grey;
}
.fourth-ship-six{
  background: darkgreen;
}

/* Placing different background on every cell of the specific COMPUTER ship*/
/* first ship */
.comp-first-ship-one{
  background: yellow;
}
.comp-first-ship-two{
  background: green;
}
.comp-first-ship-three{
  background: blue;
}
.comp-first-ship-four{
  background: brown;
}
 /* second ship */
 .comp-second-ship-one{
  background: yellow;
}
.comp-second-ship-two{
  background: green;
}
/* third ship */
.comp-third-ship-one{
  background: yellow;
}
.comp-third-ship-two{
  background: green;
}
.comp-third-ship-three{
  background: blue;
}
/* fourth ship */
.comp-fourth-ship-one{
  background: yellow;
}
.comp-fourth-ship-two{
  background: green;
}
.comp-fourth-ship-three{
  background: blue;
}
.comp-fourth-ship-four{
  background: brown;
}
.comp-fourth-ship-five{
  background: grey;
}
/* ship was hit */
.ship-hit{
  background: red;
  color: red;
}
