*{
  box-sizing: border-box;
}
body{
  height: 100vh;
  margin: 0;

}

.welcome-screen{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ship.jpeg') no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 800px 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper{
  
 height: 100vh;
 display: none;
  align-items: center;
  justify-content: center;
}


.grid{
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap; 
  color: white;
  order: 1;
}

.grid div{
  width: 7.14%;
  height: 7.14%;
  border: 1px solid lightgray;
}

.customer-grid{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  color: white;
  order: 2;
}
.customer-grid div{
  width: 7.14%;
  height: 7.14%;
  border: 1px solid lightgray;
  
}
.computer-grid{
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  color: white;
  order: 1;
}
.computer-grid div{
  width: 7.14%;
  height: 7.14%;
  border: 1px solid lightgray;
  
}

button{
  display: none;
}
.not-available-cell{
  background: brown;
}

.ships-positions{
  background: black;
  color: black;
  
}
.missed-hit{
  background: grey;
  color: grey;
}

.front-ship-part
{
  background: blue;
}

.middle-ship-part
{
  background: yellow;
}

.back-ship-part
{
  background: pink;
}

.ship-hit{
  background: red;
  color: red;
}

.side-choice-wrapper{
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.side-choice{
 width: 350px;
 height: 200px;
 margin: 40px;
}

.side-choice:hover{
  opacity: 0.5;
}

.flag{
  position: absolute;
  top: 35%;
  left: 35%;
}

.score{
  display: none;
}

.superpower{
  display: none;
}

.enemy{
  display: none;
}
